/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header{
    background-color: #5865f2;
}


/* elementi cliccabili della nav bar */
li{
    padding: 1.2rem;
}

footer{
    background-color: #23272a;
    color: white;
}

hr{
    border: 1px solid #5865f2;

}


/* + per impostare un elemento dentro una flexbox al centro del flex container! */
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* + per aggiungere ad un flex container l'inserimento in colonna */
.flex-column{
    flex-direction: column;
}



/* tutti i link legati alla navbar */
.navbarlink{
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* * navbar */
.navigazione{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-bottom: 7rem;
}


/* *footer navbar */
.navigazione-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    padding-right: 7rem;
}



/* logo presente nella nav bar */
#Logo{
    display: flex;
    width: 124px;
    padding-top: 0;
    padding: 0.6rem;
}
/* * fine navbar */

/* titoli principali */
.title{
    color: white;
    font-size: 80px;
    font-family: bold;
    margin: 0;
}

/* titoli secondari */
.title2{
    color: black;
    font-size: 45px;
    font-family: bold;
    margin: 0;
}




/* * per il footer */
.ending{
    display: flex;
    flex-direction: row;
    background-color: #23272a;
    color: white;
}





.sfondo{
    background-color: #f6f6f6;
}

/* + Color text */
.blutext{
    color: #5865f2;
}




/* elementi del body */
/* --------------------------------- */

main > section{
    padding: 4rem;
}

.about{
display: flex;              /* ! Flex Container */
flex-direction: row;
}


.about-reverse{
    display: flex;              /* ! Flex Container */
    flex-direction: row-reverse;
}


.testopreview{
    padding: px;
}

div.column{
    padding: 1rem;
}

div.column-small{
    width: 40%;
}

div.column-big{
    width: 40%;
}
/* --------------------------------- */








/* bottoni */
/* ------------------------ */
.loginbutton{
    color: black;
    height: auto;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 2px 32px;
    margin: 1rem;
}


.bottone{
    color: black;
    font-size: 20px;
    height: auto;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 16px 32px;
    margin: .5rem;
}

.bottone-small{
    color: black;
    font-size: 14px;
    height: auto;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 12px 20px;
    margin: 3rem;
}


.blackbutton{
    background-color: #23272a;
    color: white;
}

.blubutton{
    background-color: #5865f2;
    color: white;
}
/* ------------------------ */





/* Sezione Download */
/* ------------------------ */
#jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9rem;
}

#seriebottoni{
    display: flex;
    flex-direction: row;
}

/* + si riferisce esclusivamente alla descrizione all'interno del header */
#descrizione{
    color: white;
    font-size: 15px;
    line-height: 1.625;
    margin: auto;
    max-width: 780px;
    text-align: center;
    margin: 1%;

    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}



/* + per centrare gli elementi di testo in collana e giustificati al centro */
.centered-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


#fotofinale{
    margin: 4rem;
}

/* + per ogni testo dentro al main */
.descrizione2{
    color: rgb(35 39 42);
    font-size: 15px;
    line-height: 1.625;
    margin: auto;
    max-width: 780px;
    text-align: center;
    margin: 1%;

    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}
/* ------------------------ */






/* ! footer link section .css */
/* ! ------------------------------------- */
.container-footer{
    display: flex;
    flex-direction: row;
    padding: 80px;
}


.Lingua-Link{
    display: flex;
    flex-direction: column;
}

.language-list{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 0;
    margin: 0;
}